<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appKey</key>
	<string>a1703c14b186a68a66ef86c1</string>
	<key>channel</key>
	<string></string>
	<key>advertisingId</key>
	<string></string>
	<key>isProduction</key>
	<true/>
	<key>wechatAppId</key>
	<string>wxeaa0ced96671fcf0</string>
	<key>wechatAppSecret</key>
	<string>33c41f4a94e98fdb8abb38aaec08511a</string>
	<key>qqAppId</key>
	<string>101507771</string>
	<key>qqAppKey</key>
	<string>5696f16a0b1710ddcff5ed41c6c97610</string>
	<key>sinaWeiboAppKey</key>
	<string>374535501</string>
	<key>sinaWeiboAppSecret</key>
	<string>baccd12c166f1df96736b51ffbf600a2</string>
	<key>sinaRedirectUri</key>
	<string>https://www.jiguang.cn</string>
	<key>facebookAppId</key>
	<string>177776412817787</string>
	<key>facebookDisplayName</key>
	<string>HuminiOS</string>
	<key>isSupportWebSina</key>
	<true/>
</dict>
</plist>
